
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Zen+Tokyo+Zoo&display=swap');


/*box model -width- height -margin- padding- border*/
/*overflox*/
/*box-sizing*/
/********************************************GENERALES*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

.main{
    background-image: url(./img/STEFANO.jpeg);
    background-size: cover;
    width: 100%;
    height: auto;
}

.main-m{
    background-image: url(./img/STEFANO.jpeg);
    background-size:cover ;
    width: 100%;
    height: auto;
}

.main-s{
    background-image: url(./img/STEFANO.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vh;/*aplicado en esta pagina ya que no tiene contenido
    para que la imagen de fondo se vea completa*/

}

.main-c{
    background-image: url(./img/STEFANO.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
html{
    font-size: 62.5%;
}




/***este es mi titulo********/
h1{
    color: #EBC00C;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-top: 4%;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;

/*fin de mi titulo********/
}
    
    

h2{
    font-family: 'Raleway', sans-serif;
    color: #EBC00C;
    font-size: 2.5rem;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}



h3{
    font-family: 'Raleway', sans-serif;
    color: #111111;
    font-size: 1.8rem;
    text-align: center;
}

/*nav bar*/

nav{
    background-color:#EBC00C;
    padding: 4% 5%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav ul {
    list-style: none;   
    display: flex;
}


.nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 5px 5px 5px 5px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    background-color: #EBC00C;
    transition:0.5s;

}

.nav a:hover{
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
}


/*fin de nav bar*/



/*este es mi footer*/

footer{
    color: #fff;
    background-color: #4d4d4d;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row; 
    padding-top: 6%;  
}


.border ul li {
    display: inline-block;
    list-style: none;
}

.border ul li a{
   display: flex;
   justify-content: center;
   padding: 0 5px 5px 0;
   height: 35px;
   width: 35px;
   justify-content: space-around;
}

.copyright{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   flex-direction: flex;
   align-content: center;
   text-transform: uppercase;
   padding-top: 2px;
   font-size: 1rem;
}
/*fin de footer*/

/*este es mi footer*/


/********************************************FIN DE GENERALES*/

/********************************************PAGINA INDEX*****************/

/*este es mi cuerpo de index*/

.parrafo{
    width:auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.726);
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 10px 5px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: center;
    margin-block-start: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

P{
    font-family: 'Raleway', sans-serif;
    color: rgb(8, 8, 8);
    font-size: 1rem;
    width:auto;
    height: auto;
}
/*fin de mi cuerpo de index*/

/*areas index*/

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: pie;
}

/*fin de areas index*/

/*----------mobile first----------*/

.contenedor{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 8vh 84vh 8vh;
        grid-template-areas: 
        "header"
        "main"
        "pie";
    }



@media screen and (min-width: 768px){
.contenedor{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "header header "
    "main main "
    "pie pie ";
    }

nav{
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    }

.parrafo{
        width:auto;
        height:auto;

    }
    
P{
font-size: 1.8rem;
width:auto;
height: auto;
    }

h1{
    font-size: 3rem;
    padding-bottom: 50px;
}
footer{
    padding-top: 2%;  
}


}

@media screen and (min-width: 1024px){
.contenedor{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 15vh 200% 15vh;
    grid-template-areas: 
    "header header header "
    "main main main "
    "pie pie pie ";
    }

nav{
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }

.parrafo{
        width:auto;
        height:auto;

    }
    
P{
font-size: 2rem;
width:auto;
height: auto;
    }

h1{
    font-size: 3.5rem;
    padding-bottom: 50px;
}
footer{
    padding-top: 2%;  
}


}

/*----------fin mobile first----------*/


/******************************FIN PAGINA INDEX ****************************/


/*********************PAGINA MULTIMEDIA **********/

.vid {
    display: flex;
    flex-direction: column;
    list-style: none;
    
}

.videos ul li iframe{
    padding: 5px 5px 5px 50px; 
    height: auto;
    width: auto;
}

.picture{
    display: flex;
    flex-direction: column;
    list-style: none;
}



.galeria ul li img{
    height: 60%;
    width: 60%;
    padding: 5px 5px 5px 50px;
}




/*areas multimedia*/

.vid{
    grid-area: 1;
}

.picture{
    grid-area: 2;
}



/*fin de areas multimedia*/
/*....vista mobile...*/

.grilla{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
   "1"
   "2";
}

/*....vista tablet...*/

@media only screen and (min-width: 768px){
    .grilla{
        width: 100%;
        height:auto;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(2, auto) ;
        grid-template-areas: 
        "2 2"
        "1 1";
        
    }
    .vid{
        display: flex;
        flex-direction: row;
        height: auto;
        width: auto;
    }
    .picture{
        display: flex;
        flex-direction: row;
        height: auto;
        width: auto;
    }
    .videos ul li iframe{
        padding: 2px 2px 2px 10px; 
        height: auto;
        width: auto;
    }
    
    
    .galeria ul li img{
        height: 80%;
        width: 80%;
        padding: 2px 2px 2px 10px;
    }
    .parrafo{
    margin-block-start: 40px;
    margin-left: 50px;
    margin-right: 50px;
    }
}

/*....vista desktop...*/

@media only screen and (min-width: 1024px){
    .grilla{
        width: 100%;
        height:auto;
        display: grid;
        grid-template-columns: auto auto; 
        grid-template-rows: auto auto;
        grid-template-areas: 
        "1 1"
        "2 2";

    }
    .vid{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    .picture{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .videos ul li iframe{
        padding: 2px 2px 2px 10px; 
        height: auto;
        width: auto;
    }
    
    .galeria ul li img{
        height: 80%;
        width: 80%;
     
    }
}
/*********************FIN DE PAGINA MULTIMEDIA **********/



/*********************PAGINA CONTACTO **********/
/* formulario*/
.formulario{
    width: 300px;
    background-color: rgba(255, 255, 255, 0.849);
    font-size: 1rem;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    top: 150px;
    left: 5%;
    padding: 10px 50px 50px 50px;
    border-radius: 20px;

}
label{
    font-size: 1.6rem;
}
/* fin de formulario*/
/*********************FIN DE PAGINA CONTACTO **********/

/****************ANIMACIONES******************/
.picture img{
    width: 100%;
    transition: all 300ms;
    position: relative;
}

.picture img:hover{
    transform: scale(1.15);
}
