
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Zen+Tokyo+Zoo&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

.main{
    background-image: url(./img/STEFANO.jpeg);
    background-size:cover ;
    width: 100%;
    height: 150vh;
}

.main-s{
    background-image: url(./img/STEFANO.jpeg);
    background-size:cover ;
    width: 100%;
    height: 150vh;
}


.main-m{
    background-color: white;
    width: 100%;
    height: auto;
}


/*botonera y navbar */

nav{
    background-color:#EBC00C;
}

.nav ul li a{
    color: #ffffff;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    background-color: #EBC00C;
    transition:0.5s;

}

.nav a:hover{
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
}


/*Pagina index */

.parrafo{
    width:auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.726);
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 10px 5px 10px;
    border-radius: 8px;
    margin-block-start: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

P{
    font-family: 'Raleway', sans-serif;
    color: rgb(8, 8, 8);
    font-size: 0.9rem;
    width:auto;
    height: auto;
}



/*este es mi footer*/

.iconos a{
    border-radius: 50%;
}

/*fin de footer*/

/*pagina multimedia*/

.center {
    margin: auto;
    width: 50%;
    padding: 10px;	
  }

 .altura-video{
    display:block;
    height: 50vh;
 }