
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Zen+Tokyo+Zoo&display=swap');

/*botonera y navbar */

nav{
    background-color:#EBC00C;
}

.nav ul li a{
    color: #ffffff;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    background-color: #EBC00C;
    transition:0.5s;

}

.nav a:hover{
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
}


/*Pagina multimedia */

